<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/"> POOJA DAYARAMANI<span>.</span> </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">             
                 <!-- <li class="active"><a class="smooth-menu" href="#home">Home</a></li> -->  
                <li><a class="smooth-menu" href="#about">About Me</a></li>                
                <li><a class="smooth-menu" href="#experience">Experience</a></li>
                <li><a class="smooth-menu" href="#projects">Projects</a></li>   
                <li><a class="smooth-menu" href="#education">Education</a></li>             
                <li><a class="smooth-menu" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="line-height: 2px;">
                <p>Made with ❤️ by Pooja</p>
                <p>Built with Django</p>
                <p>Copyright ©2023 Pooja. All Rights Reserved.</p>
            </div>
            <div class="scroll-up">
                <button id="scrollToTopBtn" title="Go to top">&#9650;</button>
            </div>
        </div>        
    </div>
</div>

    