/* You can add global styles to this file, and also import other style files */
/*
Table of content

1. Default css
2. Preloader css
3. Navbar css
4. Banner area css
5. About area css
6. Services area css
7. Portfolio starts css
8. Testimonial area css
9. Invitation area css
10. Contact area css
11. Footer area css

*/

/*--- 1. Default CSS Starts ---*/

body {
    width: 100%;
    height: 100%;
    line-height: 24px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

html {
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0;
}

a,
a:focus,
a:active,
a:link,
img {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #323232;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

a:hover {
    color: #FF7E60;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a:link,
a:visited {
    text-decoration: none;
}

p {
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    text-transform: uppercase;
}

.section-padding {
    padding: 40px 0;
}

.bg-overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.bg-overlay.black {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
}

.section-header {
    margin-bottom: 100px;
    text-align: center;
}

.section-header h2 {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: 600;
    color: #333333;
}

.section-header h2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 80px;
    left: 50%;
    top: 60px;
    text-align: center;
    z-index: -1;
    background: #FF0000;
    margin-left: -40px;
}

.section-header h2::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 50%;
    top: 53px;
    text-align: center;
    z-index: -1;
    background: #FF0000;
    margin-left: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*--- 1. Default CSS Ends ---*/

/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #FF0000;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}

/*---------- preloader css ends -------------*/

/*--- 3. Navbar css starts ---*/

.navbar-custom {
    padding: 20px 0 !important;
    margin-bottom: 0;
    border-bottom: none;
    background: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 35px;
}
.navbar-custom .navbar-brand span{
    color: #FF0000;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

@media(max-width:768px) {
    .banner-area {
        height: 100%;
        background: #222 url("../images/home/bg-home.png") no-repeat fixed 100% 100% / cover;
        padding: 0;
        position: relative;
        max-height: 1200px;
        /* overflow: hidden; */
    }
    #tech-stack {
        padding: 40px 0px 0px 0px;
    }
    .welcome-text .name-area {
        letter-spacing: 5px;
        margin-bottom: 20px;
        font-size: 21px;
    }
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        -webkit-box-shadow: 0px 0px 2px #777;
        box-shadow: 0px 0px 2px #777;
        background-color: rgba(0, 0, 0, 0.97);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
    .navbar-custom .navbar-brand {
        font-weight: 700;
        font-size: 30px;
    }
    .navbar-custom.top-nav-collapse .nav li a {
        color: #fff;
    }
    .navbar-custom.top-nav-collapse .nav li.active a {
        background-color: transparent;
        color: #FF0000 !important;
    }
    .navbar-custom.top-nav-collapse .navbar-brand {
        color: #fff;
    }
}

/*--- 3. Navbar css ends ---*/

/*--- 4. Banner area css starts ---*/

.banner-area {
    height: 100%;
    background: #222 url("../images/home/bg-home.png") no-repeat fixed 100% 100% / cover;
    padding: 0;
    position: relative;
    max-height: 600px;
    overflow: hidden;
}

.welcome-text {
    text-align: center;
    color: #fff;
    padding-top: 150px;
}

.welcome-text h2 {
    font-size: 40px;
    color: #fff;
    line-height: 50px;
    margin: 30px 0px;
}

.welcome-text .name-area {
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 400;
}

.welcome-text a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #FF0000;
    margin-top: 20px;
    width: 160px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;

}

/*--- 4. Banner area css ends ---*/

/*--- 5. About area css starts ---*/

.line {
    height: 2px;
    background: #FF0000;
    width: 200px;
}

.about-left h2 {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: 600;
    color: #333333;
}

.about-left h4 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    margin: 20px 0 30px;
    width: 80%;
}
.about-left a {
    display: inline-block;
    color: #fff;
    padding: 7px 12px !important;
    text-transform: uppercase;
    background: #FF0000;
    margin-top: 20px;
    width: 160px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}

/*--- 5. About area ends ---*/

/*--- 6. Services area css starts ---*/
.single-service{
    margin-bottom: 30px;
    text-align: center !important;
}

.single-service i {
    font-size: 50px;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.single-service h2 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

.single-service:hover i {
    color: #FF0000;
    padding: 0;
}
.single-service:hover h2 {
    color: #FF0000;
}

/*--- 6. services area ends ---*/

/*--- 7. Portfolio starts css starts---*/

.gallery-items {
    position: relative;
}

.gallery-items .img {
    display: block;
    position: relative;
}

.gallery-items .img:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(102, 218, 255, 0.7);
    color: #fff;
    opacity: 0;
    -webkit-transition: .7s;
    -moz-transition: .7s ;
    -ms-transition: .7s ;
    -o-transition: .7s ;
    transition: .7s ;

}

.gallery-items .img img {
    width: 100%;
}

.gallery-items:hover .img::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    opacity: 1;
}

.gallery-items:hover .gallery-text {
    opacity: 1;
    -webkit-transition: .9s;
    -moz-transition: .9s ;
    -ms-transition: .9s ;
    -o-transition: .9s ;
    transition: .9s ;
}

.gallery-text {
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    text-align: center;
}

.gallery-text i {
    font-size: 2em;
    cursor: pointer;
}

.gallery-text h3 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 17px;
    letter-spacing: 2px;
}

.gallery-text h3:after {
    height: 3px;
}

.gallery-text h2 {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
}

.portfolio-mini-desc p {
    margin: 0;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: .05em;
    font-weight: 300;
}

/*---portfolio ends---*/

/*---8. Testimonial area css starts---*/


.client-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

#testimonial-carousel .item {
    text-align: center;
    color: #fff;
}

#testimonial-carousel .item h5{
    color: #000000;
    margin-top: 20px;
}

#testimonial-carousel .item p {
    width: 70%;
    margin: 20px auto;
    color: #333333;
}

#testimonial-carousel .item i {
    font-size: 45px;
    text-align: center;
    line-height: 45px;
    width: 100%;
    margin: 0px auto 30px;
    color: #000;
}

#testimonial-carousel .carousel-indicators {
    bottom: -45px;
}

#testimonial-carousel .carousel-indicators li {
    margin: 5px;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.4s;
    border-color: #000000;
}

#testimonial-carousel .carousel-indicators .active {
    opacity: 1;
    background: #000000;
}

/*---8. Testimonial area css ends---*/

/*--- 9. Invitation area css starts ---*/

.invitation-area{
    background: #333333;
    color: #ffffff;
}

.single-invite h2 {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: 600;
    color: #ffffff;
}
.single-invite p {
    width: 70%;
    margin: auto;
    /* color: #ffffff;  by me*/
}
.single-invite a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #FF0000;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}

/*--- invitation area ends ---*/

/*-------------10. Contact area css starts -------------*/


.contact-area .form-control{
    border: none;
    border-bottom: 2px solid #a2a2a2;
    box-shadow: none;
    padding: 6px 0;
    border-radius: 0;
    margin-bottom: 30px;
}

.contact-area textarea.form-control{
    border:2px solid #a2a2a2;
    padding: 6px;
    height: 250px;
    margin-bottom: 30px;
}

.btn.btn-send {
    background: #FF0000;
    color: #ffffff;
    border-radius: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

button .mfp-close {
    cursor: pointer !important;
}

/*------------- Contact area ends -------------*/

/*--------------11. Footer area css starts -------------*/


.footer-area {
    background: #232323;
    padding: 20px 0;
}
.footer-area p{
    color: #ffffff;
    line-height: 13px !important;
}
.footer-area p a{
    color: #FF0000;
}

/*--------------- Footer area ends -------------*/

/*-------------customize------------------*/

.work-padding {
    padding-left: 48px !important;
    padding-right: 48px !important;
}

.panel-danger > .panel-heading {
    color: #ebccd1 !important;
    /* background-color: #FF6666 !important; Light red color */
    border: 1px solid #FF0000 !important; /* Box border */
    box-shadow: 0 2px 4px rgba(255, 102, 102, 0.3) !important; /* Box shadow */
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-custom .navbar-brand {
        position: relative;
        top: -72px !important;
        left: -51px;
        font-size: 19px !important;
    }
    .banner-area {
        max-height: 1400px;
        /* overflow: hidden; */
    }
    #tech-stack {
        padding: 40px 0px 0px 0px;
    }
    #projects {
        padding: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-custom .navbar-brand {
        padding-top: -20px;
        position: relative;
        top: -60px !important;
        left: -51px;
        font-size: 22px !important;
    }
    /* .row {
        margin-left: -50px !important;
    } */
    .gallery-items {
        margin: 5px 0px 5px 0px !important;
    }
}


@keyframes typewriter {
    from {
        width: 20%;
        /* Set the initial width to start from the middle */
    }

    to {
        width: 90%;
    }
}

/* Apply typewriter animation to the text inside .typewriter class */
.typewriter {
    overflow: hidden;      /* Hide overflow text during animation */
    white-space: nowrap;   /* Prevent text from wrapping */
    animation: typewriter 4s steps(40) 1s 1 normal both; /* Adjust the duration and steps as needed */
    display: inline-block;  /* Make the container inline-block to center it within the parent */
}

.sub-title {
    margin: 0px 45px -65px 45px !important;
}

h4 {
    color: #fff;
}

.timeline {
    position: relative;
    max-width: 1400px;
    /* margin: 100px auto; */
}

.edu-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 1s;
}

.container:nth-child(3) {
    animation-delay: 2s;
}

.container:nth-child(4) {
    animation-delay: 3s;
}

.text-box {
    padding: 20px 30px;
    background: none;
    position: relative;
    border: 2px solid #FF0000;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.edu-container img {
    position: absolute;
    width: 55px;
    border-radius: 50%;
    right: -26px !important;
    top: 32px;
    z-index: 10;
    height: 55px;
}

.right-container img {
    left: -28px;
    position: absolute;
    width: 55px;
    height: 55px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

.left-align {
    padding: 3px 0px !important;
}

.left-align-text {
    padding: 16px 0px;
}

.panel-body {
    box-shadow: 0 2px 4px rgba(255, 102, 102, 2.3) !important;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #FF0000;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #FF0000;
    left: -15px;
}

@media screen and (max-width: 660px) {
    .sub-title {
        margin: 0px 20px -65px 20px !important;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 2px solid #FF0000 !important;
        border-left: 0 !important;
        left: -15px;
    }
}

/* Define the styles for the non-hovered state */
.social-link {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

/* Define the styles for the hovered state */
.social-link:hover {
    opacity: 1;
    color: #FF0000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    display: inline-block;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.animated-text span {
    display: inline-block;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.invitation-area .section-header h2::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 50%;
    top: 53px;
    text-align: center;
    z-index: -1;
    background: #fff !important;
    margin-left: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.timeline p {
    line-height: 10px;
    font-size: 12px;
}

.timeline img {
    border-radius: 50%;
    border: 1px solid #333333;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #FF0000;
}

pre {
    font-family: 'Poppins', sans-serif;
    display: block;
    font-weight: 400;
    color: #666;
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    line-height: 2.428571;
    word-break: break-all;
    word-wrap: break-word;
    background: none !important;
    border: none;
    border-radius: 4px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #FF0000;
}

   /* Styles for large desktops */
   @media screen and (min-width: 1201px) {
    /* Your CSS styles for large desktops go here */
}

/* // Responsive */
/* Styles for standard desktops */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .tech-area {
        padding: 40px 0px 0px 0px;
    }
    /* Your CSS styles for standard desktops go here */
}

/* Styles for landscape tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar>.container .navbar-brand {
        margin-left: 166px;
    }
    .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 55px;
    }
    .welcome-text .name-area {
        font-size: 20px;
    }
    .timeline p {
        line-height: 20px;
    }
    .section-header h2 {
        margin-top: 30px;   
    }  
}

/* Styles for portrait tablets */
@media screen and (min-width: 600px) and (max-width: 767px) {   
    .welcome-text img { 
        height: 130px;
        width: 130px;
    }
    .welcome-text .name-area { font-size: 12px; }
    .welcome-text img {
        height: 110px;
        width: 110px;
    }
}

/* Styles for large smartphones */
@media screen and (min-width: 414px) and (max-width: 599px) {
    
    /* Your CSS styles for large smartphones go here */
}

/* Styles for standard smartphones */
@media screen and (min-width: 375px) and (max-width: 413px) {
    .container {
        width: 100%;
        padding-left: 40px;
        padding-right: 36px;
    }
    .edu-container { width: 108%; }        /* Your CSS styles for standard smartphones go here */
    .space { margin-top: 25px; } 
    .navbar-custom .navbar-brand {
        top: -61px !important;
        left: -15px;
        font-size: 26px !important;
        padding-top: 0px;
        line-height: 23px;
    }
    .navbar-custom { padding: 0px; }
    .advocate { visibility: hidden; }
    .my-btn-1,.my-btn-2 { margin-top: -76px; }
    .navbar-custom .navbar-brand { top: -51px !important; }
    .navbar-custom.navbar-fixed-top.top-nav-collapse { height: 91px; }
    .welcome-text .name-area { font-size: 15px; }
    .welcome-text img { height: 110px; width: 110px; }
    .navbar-custom .navbar-brand {
        left: -19px;
        right: -41px;
        font-size: 23px !important;
    }
    .navbar-toggle { margin-right: -10px; }
    .about-left a { font-size: 14px; }
}

/* Styles for small smartphones */
@media screen and (max-width: 374px) {
    .navbar-custom { padding: 0px; }
    .sub-title { margin: 0px; }
    .highlight-text h5 { font-size: 8px !important; }
    .edu-container { width: 120%; }
    .portfolio-area { padding: 0px;}
    .tech { font-size: 25px; }
    /* Your CSS styles for small smartphones go here */
}

